@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: epilogue !important;
}

*::-webkit-scrollbar {
  display: none;
}

button {
  border-radius: 12px !important;
}

.text-align-center {
  text-align: center;
}